name: OCV PR Windows

on:
  push:
    branches:
      - dummy_arm_ci
    paths:
      - '.github/workflows/OCV-PR-Windows.yaml'
      # TODO: are following paths necessary?
      - 'checkout-and-merge/*'
      - 'configure-and-build/*'
      - 'run-tests/*'
      - 'scripts/runner.py'
      - 'scripts/test-plan.json'
  workflow_call:
    inputs:
      workflow_branch:
        description: "Branch for ci-gha-workflow repository"
        default: "main"
        required: false
        type: string

concurrency:
  group: OCV-PR-Windows-${{ github.ref }}
  cancel-in-progress: true

jobs:

  branch_eval:
    runs-on: ubuntu-24.04
    outputs:
      branches: ${{ steps.determine-branches.outputs.branches }}
    steps:
        - id: determine-branches
          shell: bash
          run: |
            if [ "${{ github.event.repository.name == 'ci-gha-workflow' }}" = "true" ] ; then
              echo "branches=[ '4.x', '5.x' ]" >> "$GITHUB_OUTPUT"
            else
              echo "branches=[ '${{ github.base_ref }}' ]" >> "$GITHUB_OUTPUT"
            fi

  Windows:
    runs-on: ${{ matrix.runner }}
    needs:
      - branch_eval
    strategy:
      # NOTE: Debugging
      # fail-fast: true
      fail-fast: false
      max-parallel: 3
      matrix:
        arch: [ x86, x64, arm64 ]
        config: [ base ]
        include:
          - arch: x86
            config: base
            runner: opencv-cn-win
            vs: 'Visual Studio 16 2019'
            cmake_arch: Win32
          - arch: x64
            config: base
            runner: opencv-cn-win
            vs: 'Visual Studio 16 2019'
            cmake_arch: x64
          - arch: arm64
            config: base
            runner: windows-11-arm
            vs: 'Visual Studio 17 2022'
            cmake_arch: ARM64
            no_opencl: true

        branch: ${{ fromJSON(needs.branch_eval.outputs.branches )}}
    defaults:
      run:
        shell: bash
    env:
      CMAKE_OPT: >-
        -DCL_Z_OPTION=/Z7
        -DBUILD_EXAMPLES=ON
        -DOPENCV_ENABLE_NONFREE=ON
        ${{ matrix.no_opencl && '-DWITH_OPENCL=OFF' || '' }}
        ${{ matrix.arch == 'arm64' && '-DWITH_VULKAN=OFF -DBUILD_opencv_vulkan=OFF -DOPENCV_DNN_VULKAN=OFF -DCMAKE_DISABLE_FIND_PACKAGE_Vulkan=ON' || '' }}
        ${{ matrix.arch == 'x86' && '-DBUILD_opencv_python3=OFF' || '' }}
      MAIN_BUILD_DIR: "${{ (github.event.repository.name != 'opencv_contrib') && 'build' || 'build-contrib' }}"
      OPENCV_FOR_THREADS_NUM: 8
      CMAKE_BUILD_PARALLEL_LEVEL: 8

    # ==========

    steps:

    - name: Propagate environment
      run: |
        echo "GIT_CACHE=$(cygpath -u "$GIT_CACHE")" >> "$GITHUB_ENV"
        echo "DNN_MODELS=$(cygpath -u "$DNN_MODELS")" >> "$GITHUB_ENV"
        echo "BINARIES_CACHE=$(cygpath -u "$BINARIES_CACHE")" >> "$GITHUB_ENV"
        echo "OPENCV_DOWNLOAD_PATH=$(cygpath -u "$BINARIES_CACHE")" >> "$GITHUB_ENV"


    - name: Checkout workflow repository
      uses: actions/checkout@v4
      with:
        repository: opencv/ci-gha-workflow
        ref: "${{ github.repository == 'opencv/ci-gha-workflow' && github.ref || inputs.workflow_branch }}"

    - working-directory: '${{ github.workspace }}'
      shell: bash
      run: |
        ls -l
        export
        whoami
        id
        which bash
        echo "GIT_CACHE=$GIT_CACHE"
        echo "DNN_MODELS=$DNN_MODELS"
        echo "BINARIES_CACHE=$BINARIES_CACHE"
        echo "OPENCV_DOWNLOAD_PATH=$BINARIES_CACHE"


    # Hardcoded CI checkout and build flow for OpenCV, contrib, and extra (branch 4.x)

    - name: Checkout and merge OpenCV
      run: |
        echo "::group::Clone OpenCV"
        rm -rf opencv
        git clone --single-branch --branch 4.x https://github.com/opencv/opencv.git
        cd opencv
        git config user.email "opencv.ci"
        git config user.name "opencv.ci"
        echo "::endgroup::"
    
    - name: Checkout OpenCV contrib
      run: |
        echo "::group::Clone OpenCV Contrib"
        rm -rf opencv_contrib
        git clone --single-branch --branch 4.x https://github.com/opencv/opencv_contrib.git
        cd opencv_contrib
        git config user.email "opencv.ci"
        git config user.name "opencv.ci"
        echo "::endgroup::"
    
    - name: Checkout OpenCV extra
      run: |
        echo "::group::Clone OpenCV Extra"
        rm -rf opencv_extra
        git clone --single-branch --branch 4.x https://github.com/opencv/opencv_extra.git
        cd opencv_extra
        git config user.email "opencv.ci"
        git config user.name "opencv.ci"
        echo "::endgroup::"
    
    - name: Update extra dnn models
      timeout-minutes: 60
      working-directory: '${{ github.workspace }}'
      run: |
        python opencv_extra/testdata/dnn/download_models.py \
          --cleanup \
          --dst '${{ env.DNN_MODELS }}/dnn'
        echo "OPENCV_DNN_TEST_DATA_PATH=${{ env.DNN_MODELS }}" >> $GITHUB_ENV
    
    - name: Configure and build OpenCV
      uses: ./configure-and-build
      with:
        workdir: '${{ github.workspace }}'
        builddir: 'build'
        generator: 'Visual Studio 17 2022'
        options: '-A arm64 -DCMAKE_BUILD_TYPE=Release -DWITH_OPENCL=OFF -DWITH_VULKAN=OFF -DBUILD_opencv_vulkan=OFF -DOPENCV_DNN_VULKAN=OFF -DCMAKE_DISABLE_FIND_PACKAGE_Vulkan=ON -DOPENCV_ENABLE_NONFREE=ON'
    
    - name: Configure and build OpenCV with contrib
      uses: ./configure-and-build
      with:
        workdir: '${{ github.workspace }}'
        builddir: 'build-contrib'
        generator: 'Visual Studio 17 2022'
        options: '-A arm64 -DCMAKE_BUILD_TYPE=Release -DOPENCV_EXTRA_MODULES_PATH=opencv_contrib/modules -DWITH_OPENCL=OFF -DWITH_VULKAN=OFF -DBUILD_opencv_vulkan=OFF -DOPENCV_DNN_VULKAN=OFF -DCMAKE_DISABLE_FIND_PACKAGE_Vulkan=ON -DOPENCV_ENABLE_NONFREE=ON'

    - name: Run OpenCV tests
      uses: ./run-tests
      env:
        OPENCV_TEST_DATA_PATH: '${{ github.workspace }}/opencv_extra/testdata'
        OPENCV_TEST_REQUIRE_DATA: 1
        OPENCV_TEST_CHECK_OPTIONAL_DATA: 1
        PYTHONPATH: '${{ github.workspace }}/${{ env.MAIN_BUILD_DIR }}/python_loader:$PYTHONPATH'
      with:
        workdir: '${{ github.workspace }}'
        builddir: '${{ env.MAIN_BUILD_DIR }}'
        logdir: '${{ github.workspace }}'
        plan: "test-plan-win-${{ matrix.branch }}.json"
        suite: "[ ${{ (github.event.repository.name == 'opencv_contrib') && '''contrib'''  || '''main''' }} ]"
        enable_python: "false"
        enable_java: "false"
        filter: "[ 'windows-common' ]"
        suffix: '${{ matrix.arch }}_${{ matrix.branch }}'
        timeout: 15

    - if: ${{ always() && env.WARNINGS == '1' }}
      name: Warnings check
      run: |
        echo "::error Warnings have been found!"
        exit 1
