name: OCV PR Windows

on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/OCV-PR-Windows.yaml'
      - 'checkout-and-merge/*'
      - 'configure-and-build/*'
      - 'run-tests/*'
      - 'scripts/runner.py'
      - 'scripts/test-plan.json'
  workflow_call:
    inputs:
      workflow_branch:
        description: "Branch for ci-gha-workflow repository"
        default: "main"
        required: false
        type: string

concurrency:
  group: OCV-PR-Windows-${{ github.ref }}
  cancel-in-progress: true

jobs:

  branch_eval:
    runs-on: ubuntu-24.04
    outputs:
      branches: ${{ steps.determine-branches.outputs.branches }}
    steps:
      - id: determine-branches
        shell: bash
        run: |
          if [ "${{ github.event.repository.name == 'ci-gha-workflow' }}" = "true" ] ; then
            echo "branches=[ '4.x', '5.x' ]" >> "$GITHUB_OUTPUT"
          else
            echo "branches=[ '${{ github.base_ref }}' ]" >> "$GITHUB_OUTPUT"

  Windows:
    runs-on: ${{ matrix.runner }}
    needs: branch_eval
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        arch: [ arm64 ]
        config: [ base ]
        include:
          - arch: arm64
            config: base
            runner: windows-11-arm
            vs: 'Visual Studio 17 2022'
            cmake_arch: ARM64
            no_opencl: true
        branch: ${{ fromJSON(needs.branch_eval.outputs.branches )}}
    defaults:
      run:
        shell: bash
    env:
      CMAKE_OPT: >-
        -DCL_Z_OPTION=/Z7
        -DBUILD_EXAMPLES=ON
        -DOPENCV_ENABLE_NONFREE=ON
        ${{ matrix.no_opencl && '-DWITH_OPENCL=OFF' || '' }}
        ${{ matrix.arch == 'arm64' && '-DWITH_VULKAN=OFF -DBUILD_opencv_vulkan=OFF -DOPENCV_DNN_VULKAN=OFF -DBUILD_opencv_world=ON -DWITH_ITT=OFF -DWITH_OPENCL=OFF -DWITH_OPENCLAMDBLAS=OFF -DWITH_OPENCLAMDFFT=OFF -DWITH_OPENCL_D3D11_NV=OFF -DWITH_DIRECTML=OFF -DWITH_DIRECTX=OFF -DWITH_ADE=OFF -DCMAKE_DISABLE_FIND_PACKAGE_Vulkan=ON' || '' }}
      MAIN_BUILD_DIR: build
      OPENCV_FOR_THREADS_NUM: 8
      CMAKE_BUILD_PARALLEL_LEVEL: 8

    steps:

    - name: Propagate environment
      run: |
        echo "GIT_CACHE=$(cygpath -u "$GIT_CACHE")" >> "$GITHUB_ENV"
        echo "DNN_MODELS=$(cygpath -u "$DNN_MODELS")" >> "$GITHUB_ENV"
        echo "BINARIES_CACHE=$(cygpath -u "$BINARIES_CACHE")" >> "$GITHUB_ENV"
        echo "OPENCV_DOWNLOAD_PATH=$(cygpath -u "$BINARIES_CACHE")" >> "$GITHUB_ENV"

    - name: Checkout workflow repository
      uses: actions/checkout@v4
      with:
        repository: pratham-mcw/ci-gha-workflow_dummy
        ref: "${{ github.repository == 'pratham-mcw/ci-gha-workflow_dummy' && github.ref || inputs.workflow_branch }}"

    - name: Clone opencv
      run: |
        rm -rf opencv
        git clone --single-branch --branch 4.x https://github.com/pratham-mcw/opencv.git
        cd opencv
        git config user.email "opencv.ci"
        git config user.name "opencv.ci"

    - name: Clone opencv_contrib
      run: |
        rm -rf opencv_contrib
        git clone --single-branch --branch 4.x https://github.com/pratham-mcw/opencv_contrib.git
        cd opencv_contrib
        git config user.email "opencv.ci"
        git config user.name "opencv.ci"

    - name: Clone opencv_extra
      run: |
        rm -rf opencv_extra
        git clone --single-branch --branch 4.x https://github.com/pratham-mcw/opencv_extra.git
        cd opencv_extra
        git config user.email "opencv.ci"
        git config user.name "opencv.ci"

    - name: Checkout and merge OpenCV
      uses: ./checkout-and-merge
      with:
        target_branch: '4.x'
        author: pratham-mcw
        source_branch: ${{ github.head_ref }}
        gitcache: '${{ env.GIT_CACHE }}'
        workdir: '${{ github.workspace }}'

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install requests

    - name: Update extra dnn models
      timeout-minutes: 60
      run: |
        python opencv_extra/testdata/dnn/download_models.py --cleanup --dst '${{ env.DNN_MODELS }}/dnn'
        echo "OPENCV_DNN_TEST_DATA_PATH=${{ env.DNN_MODELS }}" >> $GITHUB_ENV

    - name: Configure and build OpenCV
      uses: ./configure-and-build
      with:
        workdir: '${{ github.workspace }}'
        builddir: 'build'
        generator: '${{ matrix.vs }}'
        options: '-A ${{ matrix.cmake_arch }} ${{ env.CMAKE_OPT }}'

    - name: Configure and build OpenCV with contrib
      uses: ./configure-and-build
      with:
        workdir: '${{ github.workspace }}'
        builddir: 'build-contrib'
        generator: '${{ matrix.vs }}'
        options: '-A ${{ matrix.cmake_arch }} -DCMAKE_BUILD_TYPE=Release -DOPENCV_EXTRA_MODULES_PATH=opencv_contrib/modules ${{ env.CMAKE_OPT }}'

    - name: Run OpenCV tests
      uses: ./run-tests
      env:
        OPENCV_TEST_DATA_PATH: '${{ github.workspace }}/opencv_extra/testdata'
        OPENCV_TEST_REQUIRE_DATA: 1
        OPENCV_TEST_CHECK_OPTIONAL_DATA: 1
        PYTHONPATH: '${{ github.workspace }}/${{ env.MAIN_BUILD_DIR }}/python_loader:$PYTHONPATH'
      with:
        workdir: '${{ github.workspace }}'
        builddir: '${{ env.MAIN_BUILD_DIR }}'
        logdir: '${{ github.workspace }}'
        plan: "test-plan-win-4.x.json"
        suite: "[ ${{ (github.event.repository.name == 'opencv_contrib') && '''contrib''' || '''main''' }} ]"
        enable_python: "false"
        enable_java: "false"
        filter: "[ 'windows-common' ]"
        suffix: "${{ matrix.arch }}_4.x"
        timeout: 15

    - if: ${{ always() && env.WARNINGS == '1' }}
      name: Warnings check
      run: |
        echo "::error Warnings have been found!"
        exit 1
