name: OpenCV Local Exact Steps (Windows ARM64)

on:
  pull_request:
  push:
    branches: [ main ]
  workflow_call:
    inputs:
      workflow_branch:
        description: "Branch for workflow repository"
        required: false
        default: "main"
        type: string

jobs:
  build-test:
    runs-on: windows-11-arm

    env:
      OPENCV_ROOT: ${{ github.workspace }}\OPENCV

    steps:
      - name: Create OPENCV folder
        shell: cmd
        run: mkdir OPENCV

      - name: Clone OpenCV
        shell: cmd
        working-directory: OPENCV
        run: |
          git clone https://github.com/pratham-mcw/opencv.git
          cd opencv
          git checkout 4.x

      - name: Clone OpenCV Contrib
        shell: cmd
        working-directory: OPENCV
        run: |
          git clone https://github.com/pratham-mcw/opencv_contrib.git
          cd opencv_contrib
          git checkout 4.x

      - name: Clone OpenCV Extra
        shell: cmd
        working-directory: OPENCV
        run: |
          git clone https://github.com/pratham-mcw/opencv_extra.git
          cd opencv_extra
          git checkout 4.x

      - name: Clone CI workflow (required for tests)
        shell: cmd
        run: |
          git clone https://github.com/pratham-mcw/ci-gha-workflow_dummy.git

      - name: Setup DNN test data
        shell: cmd
        run: |
          mkdir dnn
          cd dnn
          pip install requests
          python %OPENCV_ROOT%\opencv_extra\testdata\dnn\download_models.py

      - name: Configure environment variables
        shell: cmd
        run: |
          echo OPENCV_DNN_TEST_DATA_PATH=%cd%>> %GITHUB_ENV%
          echo OPENCV_TEST_DATA_PATH=%OPENCV_ROOT%\opencv_extra\testdata>> %GITHUB_ENV%

      - name: Configure OpenCV
        shell: cmd
        working-directory: OPENCV\opencv
        run: >
          cmake -S . -B build -G "Visual Studio 17 2022"
          -DCMAKE_BUILD_TYPE=Release
          -DBUILD_opencv_world=ON
          -DWITH_ITT=OFF
          -DWITH_OPENCL=OFF
          -DWITH_OPENCLAMDBLAS=OFF
          -DWITH_OPENCLAMDFFT=OFF
          -DWITH_OPENCL_D3D11_NV=OFF
          -DWITH_DIRECTML=OFF
          -DWITH_DIRECTX=OFF
          -DWITH_ADE=OFF
          -DCPU_BASELINE="NEON"
          -DBUILD_opencv_python3=ON
          -DOPENCV_EXTRA_MODULES_PATH="%OPENCV_ROOT%\opencv_contrib\modules"

      - name: Build OpenCV
        shell: cmd
        working-directory: OPENCV\opencv\build
        run: cmake --build . --config Release

      - name: Install OpenCV
        shell: cmd
        working-directory: OPENCV\opencv\build
        run: cmake --build . --target INSTALL --config Release
            
      - name: Run OpenCV tests
        shell: cmd
        run: |
          echo OPENCV_ROOT=%OPENCV_ROOT%
          dir "%OPENCV_ROOT%\opencv\build\bin\Release"
      
          mkdir "%GITHUB_WORKSPACE%\test_logs"
      
          python %GITHUB_WORKSPACE%\ci-gha-workflow\scripts\runner.py ^
            --bindir=bin\Release ^
            --exesuffix=.exe ^
            --workdir "%OPENCV_ROOT%\opencv\build" ^
            --logdir "%GITHUB_WORKSPACE%\test_logs" ^
            --plan "%GITHUB_WORKSPACE%\ci-gha-workflow\scripts\test-plan-win-4.x.json" ^
            --suite main ^
            --filter windows-common ^
            --timeout 30 ^
            --options default
        env:
          OPENCV_DNN_TEST_DATA_PATH: ${{ env.OPENCV_ROOT }}
          OPENCV_TEST_DATA_PATH: ${{ env.OPENCV_ROOT }}\opencv_extra\testdata
          OPENCV_TEST_REQUIRE_DATA: 0
          OPENCV_TEST_CHECK_OPTIONAL_DATA: 0
          OPENCV_OPENCL_RUNTIME: disabled

